#register-container,
#login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* card */
.MuiCard-root {
  height: 60vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 20px;
}

.MuiCardContent-root,
.MuiCardContent-root:last-child {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.split {
  height: 100%;
  width: 50%;
  padding: 40px;
}
