.item {
  position: relative;
  height: 300px;
  width: 50vw;
  min-width: 300px;
  padding: 10px;
}

.item-card {
  border-radius: 10px;
}

.item-content {
  height: 85%;
}

.item-actions {
  position: absolute;
  bottom: 5px;
}

.ongoing {
  border: 1px solid var(--color-primary);
}

.completed {
  border: 1px solid var(--color-success);
}

.dropped {
  border: 1px solid var(--color-warning)
}
