.item-list-meta {
  position: relative;
  height: 150px;
  width: 35vw;
  min-width: 250px;
  padding: 10px;
}

.item-list-content {
  height: 77%
}

.item-list-border {
  border: 1px solid #FFFFFF
}
